.profile-headline{
    text-align: center;
}

.avataar-image {
    margin: 20px;
    width: 120px;
    height: 120px;
}

.box {
    flex: 0 0 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #A9FF9C;
    padding: 20px;
    background-color: #A9FF9C;
}

.trees-planted {
    height: 40px;
    border-radius: 10px;
    background-color: #24CF0A;
    color: #ffffff;
}

.trees-planted>h2 {
    display: flex;
    justify-content: left;
    /* align-items: center; */
    color: #ffffff;
    margin-top: 10px;
    margin-left: 10px;
}

.trees-saved {
    height: 40px;
    border-radius: 10px;
    background-color: #23AA10;
    color: #ffffff;
}

.trees-saved>h2 {
    display: flex;
    justify-content: left;
    /* align-items: center; */
    color: #ffffff;
    margin-top: 10px;
    margin-left: 10px;
}

.trees-cut {
    height: 40px;
    border-radius: 10px;
    background-color: #B74141;
    color: #ffffff;
}

.trees-cut>h2 {
    display: flex;
    justify-content: left;
    /* align-items: center; */
    color: #ffffff;
    margin-top: 10px;
    margin-left: 10px;
}